IS_MOCK_STREAM=<Boolean; decide if you want to use mock stream or listen to actual stream>
SUPABASE_URL=<supabase project url>
SUPABASE_KEY=<supabase default secret key for the project>
OPENWEATHER_KEY=<OpenMeteo Openweather API key>
BROKER_URL=<your mqtt broker url>
BROKER_PORT=<the port of your broker server>
BROKER_USERNAME=<the username of your broker server>
BROKER_PASSWORD=<the password of your broker server>
TOPIC=<the topic of your broker; API endpoint where your backend will listen>
NOMINATIM_EMAIL=<email to be used for the nominatim api call header>
ORS_API_KEY=<your ors key here>
GOOGLEMAPS_API_KEY=<your google maps api key here>
SECRET_TOKEN_FOR_LISTENER=<Add the secret token that the GitHub Actions will send for authentication>